
*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;   
}
body{
    background-color: #ccc;
}
.container{
    max-width: 50%;
    margin: 0 auto;
}
.apply_box{
    max-width: 600px;
    padding: 20px;
    background-color: white;
    margin: 0;
    margin-top: 50px;
    box-shadow: 4px 3px 5px rgb(1, 1, 1,0.1);
    border-radius: 10px;
}
.title_small{
    font-size: 20px;
}
.form_conrainer{
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
}
label{
    font-size: 16px;
    margin-bottom: 5px;
}
input,
select,
textarea{
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
}
input:focus{
    outline-color: red;
}

.button_container{
    display: flex;
    justify-self: right;
    margin-top: 20px;
}
button{
    background-color: red;
    border: transparent solid 2px;
    padding: 5px 10px;
    color: white;
    border-radius: 8px;
    transition: 0.3s ease-in;
}
button:hover{
    background-color: green;
    border: 2px solid red;
    color: black;
    transition: 0.3s ease-out;
    cursor: pointer;
}
.textarea_control{
    grid-column: 1 /span 2;
}
.textarea_control textarea{
    width: 100%;
    outline-color: red;
}
@media (max-width:460px){
    .textarea_control{
        grid-column: 1 /span 1;
    }
}
.h3{
    text-align:end;
    margin-right: 20px;
}
.name{
    text-align:end;
    margin-right: 80px;
}
.success{
    color: #706c6b;
}
.img_success{ 
    height: 50px;
}
p{
    color: black;
    font-size: 20px;
}